---
import { Icon } from "astro-icon/components";
import ToolTip from "./ToolTip.astro";
import { GITHUB_LINK, LINKEDIN_LINK, TWITTER_LINK } from "../consts";

interface Props {
    position?: "top" | "bottom" | "left" | "right";
}

const { position="top" } = Astro.props;

---

<div class="social-icons inline-flex gap-4">
    <a aria-label="github" href={GITHUB_LINK} target="_blank">
        <ToolTip position={position} text="github">
            <Icon name="github" size="32" />
        </ToolTip>
    </a>
    <a  aria-label="twitter" href={TWITTER_LINK} target="_blank">
        <ToolTip position={position} text="twitter">
            <Icon name="twitter" size="32" />
        </ToolTip>
    </a>
    <a aria-label="linkedIn" href={LINKEDIN_LINK} target="_blank">
        <ToolTip position={position} text="linkedIn">
            <Icon name="linkedIn" size="32" />
        </ToolTip>
    </a>
</div>



<style>
    a{
        transition: .4s all ease;
    }
a:hover{
    color: rgba(var(--black));
}

</style>